body{
    margin: 0px;
    /* opacity:  100%; */
    /* background-image:linear-gradient(120deg,rgba(0, 0, 255, 0.539),rgba(0, 255, 255, 0.539)); */
    /* background: radial-gradient(cyan,yellow); */
    /* background-color: antiquewhite; */
   
}
/* body header */

#body-header{
    height: 65vh;
    opacity: 0.8;
    margin-top: -15.8px;
    background-image: url(macbook_mouse.jpg);
    background-size: cover;
    background-position: center;    
    background-attachment: fixed;
}

/* removing bullet */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    
}

/* change into .horizontal-list */
.horizontal-list li{
    display: inline-block;
    margin: 10px 8px 8px 0px;
}

/* change the href colour to white and removing underline from the link */
.horizontal-list li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* underline only vaigation links */

.nav-menu{
    transition: color 0.5s, border-bottom 4s;
}


.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid green;
}

/* center allignment of the nevigation menu  */
.text-center{
    text-align: center;
   

}

/* name  and social icond*/
#name-social-container{
margin-top: 20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 00.1rem;
    color: whitesmoke;
    font-weight: 700;
    margin-bottom: 00.5rem;
}

.social-icons li a i{
    /*color: red;*/
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 50%;
}

/* giving the shade */
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/* about section */
#about{
    height: auto;
    width: 100%;
    position: relative;
}

#image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -15vh;
   
}

#image img{
height: 100%;
width: 100%;
border-radius: 50%;
border: 3px solid white;
}
#image img:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#skill-sp{
    font-size: 25px;
}
section:nth-child(2n) {
    background-color: #9e9b9b29;
}
section:nth-child(2n + 1) {
    background-color: white;
}


section:target {
    background-color: cyan;
}

.section-heading span {

    font-size: var(--section-heading-font-size);
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* skill sectin */

.skills-display{
    width: 70%;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-progress{
    width: 7rem;
    height: 1.4rem;
    margin: 20px;
    background-color: lightgrey;
    border-radius: 0.8rem;
    overflow: hidden;
   
}
.skill-name{
    font-size: 15px;
    color: white;
    padding: 6px 0px 10px 30px;
}
.skill-name span {
    margin: 0;
}


.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ff5722;
}


.mb-teal {
    background-color: #009688;
}

.mb-light-purple {
    background-color: #93738c;
}

.m-blue {
    color: #2857a4;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.eighty-five-percent {
    height: inherit;
    width: 80%;
}

.seventy-five-percent {
    height: inherit;
    width: 75%;
}

/* common margin classes */
.m0 {
    margin: 0;
}

/* timeline section */


.timeline{
    position: relative;
    /* height: px; */
    width: 75%;
    /* border: 2px solid black; */

}

.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
   left: 5%;
   min-height: 150px;
   /* border: 2px solid black; */
    
}

.timeline-box:nth-child(2n){
    left:53%; 
}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 27%;
    right: -13.2%;
    border-radius: 50%;
    height: 0.5rem;
    width: 00.5rem;
    background-color: rgb(0, 0, 0) ;
    z-index: 1 ;
}

.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top: 23%;
    left: -9%;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    background-color: rgb(0, 0, 0) ;
    z-index: 1;
}


.timeline-divider{
    position: absolute;
    height: 82%;
    width: 0;
    border: 3px dashed rgb(200, 23, 23) ;
    top: 9.5%;
    left: 50%;

}
.timeline-traveller{
    position: sticky;
    top: 25%;
    transform: rotate(90deg);
    z-index: 2;
}

.timeline-head{
    text-align:right;
}
.timeline-head img {
    position: absolute;
  }

.timeline-head h1{
    font-size: 1.5rem;
    margin-bottom: 0.25em;
}
.timeline-head h4 {
    font-size: 1.25em;
    margin-top: 0;
    color: #ff7b00;
  }
  
.timeline-head h6 {
    font-size: 1.1em;
    margin-top: -19px;
    margin-bottom: 0.25em;
}


  /* portfolio */

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 98%;
    min-width: 725px;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.portfolio-image-container{
    width: 26%;
    position:relative;
    overflow: hidden;
    height: auto;
    margin: 1rem;
}

.portfolio-image-container img {
    width: 100%;
    height: auto;
}
  
.portfolio-image-container:hover {
    
   box-shadow: 8px 8px 12px  8px #b1c4d7;
  
  transition: box-shadow 0.4s ease-in-out;
}

.portfolio-image-container:hover .middleText{
    cursor: pointer;
    opacity: 1;
}
      
.portfolio-image-container .middleText{
    background-color: rgba(36, 34, 34, 0.564);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.portfolio-image-container .middleText .project-details{
    padding: 4.5rem;
    font-size: 1.5rem;
    color: white;
    
}

/* Contact */


.contact-heading{
    color: white;
}

#contact{
    background-image: linear-gradient(to top right, #2857a4, #403066);
    color: rgb(224, 221, 221);
    font: 1rem;
}

#contact .social-links i:hover{
    transform: scale(1.25);
    transition:  0.3s ;
    text-shadow: 0px 0px 20px #a59f9f;
}

.contact-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    justify-content: space-around;
    font-size: 1.2em;
    min-width: 725px;

}

.contact-container .contact-form-container, .contact-container .address-container {
    flex-basis: 40%;
    overflow-x: hidden;
  }

  .contact-container .contact-form-container .input-field {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 1rem;
    border: none;
    height: 2.5rem;
    font-size: 21px;
    color: white;
    border-bottom: 3px solid white;
    background-color: #0000;
    outline: none;
  }

  .contact-container .contact-form-container textarea.input-field {
    height: 4rem;
    resize: none;
  }

  .contact-container .contact-form-container .input-field:focus {
    outline: none;
    border-bottom: 3px solid #bebebe;
  }


  .contact-container .contact-form-container .input-field::placeholder {
    color: #bebebe;
  }
  .contact-container .contact-form-container #submit {
    display: block;
    margin: 0 auto;
    font-size: 0.75em;
    padding: 0.5rem 1rem;
  }
    
    

  .contact-container .contact-form-container #submit:hover {
    color: #1262b3;
  }
  
  .contact-container .address-container h2, .contact-container .address-container div {
    margin: 1.2rem 0;
  }
  
  .contact-container .address-container div, .contact-container .address-container p {
    font-size: 0.85em;
  }

  .address{
    margin: 7px ;
  }


.white-border-transparent-button {
  background-color: #0000;
  color: white;
  border: 3px solid white;
}

.white-border-transparent-button:hover {
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
}

/* social links customization */
.social-links li:nth-child(1) a:hover {
    color: dodgerblue;
  }
  
  .social-links li:nth-child(2) a:hover {
    color: orange;
  }
  
  .social-links li:nth-child(3) a:hover, .social-links li:nth-child(5) a:hover {
    color: red;
  }
  
  .social-links li:nth-child(4) a:hover {
    color: #4040ff;
  } 

